.footer-div {
    width: 100%;
    color: white;
    background: #3C3C3C;
    overflow: auto;
    padding: 30px 0px 20px 0px;
}

.footer-div .footer-content {
    position: relative;
    width: 94%;
    left: 3%;
    right: 3%;
}

hr {
    height: 0.2px;
}

.outstation-route {
    float: left;
    width: 20%;
    margin-top: 10px;
    margin-right: 5%;
}

.outstation-route .route-heading {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}

.outstation-route .route-body a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: lighter;
}

.outstation-route .route-body a:hover {
    color: #8ec44a;
}

.outstation-routes-expand {
    text-align: center;
    font-size: 12px;
}

hr {
    background: lightgray;
}

.social-links {
    margin-top: 25px;
    overflow: auto;
}

.social-links .social-link-label {
    float: left;
    width: 20%;
    margin-right: 5%;
    font-size: 14px;
}

.social-links .social-link-icons {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.social-links .social-link-icon {
    display: inline;
    margin-right: 10%;
}

.social-links .country-select {
    float: right;
    width: 20%;
}

.social-links .country-select select {
    padding: 10px 20px 10px 20px;
    background: #3C3C3C;
    border: 2px solid white;
    border-radius: 5px 5px 5px 5px;
}

.discover-ola {
    margin-top: 25px;
    margin-bottom: 25px;
}

.discover-ola .discover-ola-label {
    float: left;
    width: 20%;
    margin-right: 5%;
    font-size: 14px;
}

.discover-ola .discover-ola-content {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.discover-ola .discover-ola-become-book {
    float: right;
    width: 20%;
}

.discover-ola .discover-ola-item {
    display: inline;
    margin-right: 5%;
}

.terms {
    margin-top: 25px;
    margin-bottom: 100px;
}

.terms .terms-image-div {
    float: left;
}

.terms .terms-body {
    float: right;
    text-align: right;
    width: 50%;
}

.terms .term-body-links {
    display: inline-block;
    margin-right: 10%;
}

.terms .term-body-links a {
    text-decoration: none;
    color: white;
}

.terms .term-body-links a:hover {
    text-decoration: none;
    color: #8ec44a;
}

.terms .copyright {
    margin-top: 5px;
}