.traveldiv {
    width: 100%;
}

.ola-fleet {
    position: relative;
    width: 94%;
    left: 3%;
    right: 3%;
    padding-top: 60px;
}

.ola-fleet h2 {
    font-size: 36px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
}

.ola-fleet p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.5;
    margin-bottom: 5px;
}
.fleet-options {

}

.download-div {
    position: relative;
    height: 330px;
    width: 94%;
    left: 3%;
    right: 3%;
    background: #FDFDFD;
}

.download-div .download-body {
    float: left;
    width: 50%;
}

.download-div .download-body .download-heading {
    margin-top: 75px;
}

.download-div .download-body .download-heading h2 {
    font-size: 36px;
    font-weight: 600;
    color: black;
}

.download-div .download-body .download-heading div {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}

.download-div .download-body .download-links {
    margin-top: 70px;
}

.download-div .download-body .download-links a {
    float: left;
    width: 25%;
    height: 45px;
    margin-right: 3.33%;
}

.download-div .download-body .download-links a img {
    width: 90%;
    height: 100%;
}

.download-image-display {
    float: left;
    width: 40%;
    margin-left: 10%;
}

.download-image-display .download-image {
    width: 80%;
}

.services-provided {
    position: relative;
    width: 94%;
    left: 3%;
    right: 3%;
}

.services-provided .service {
    display: inline-block;
    width: 28%;
    margin-right: 5.33%;
    overflow: auto;
}

.services-provided .service .service-image {
    float: left;
    width: 20%;
    margin-right: 2%;
}

.services-provided .service .service-image img {
    width: 70%;
    height: 50%;
}

.services-provided .service .service-body {
    float: left;
    width: 65%;
}

hr.no-margin {
    margin-top: 0px;
}