.traveldiv {
    width: 100%;
}

.ola-fleet {
    position: relative;
    width: 94%;
    left: 3%;
    right: 3%;
    padding-top: 60px;
}

.ola-fleet h2 {
    font-size: 36px;
    font-weight: 600;
    color: black;
    margin-bottom: 5px;
}

.ola-fleet p {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.5;
    margin-bottom: 5px;
}

.fleet-options {
    position: relative;
    width: 94%;
    left: 3%;
    right: 3%;
    margin-bottom: 40px;
}

.fleet-options .fleet-vehicle {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 50px 50px 50px 50px;
}

.fleet-options .fleet-vehicle:hover {
    background: #CCDB3B;
}

.fleet-options .fleet-vehicle-onhover {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px 50px 50px 50px;
    background: #CCDB3B;
}

.fleet-options .fleet-vehicle .fleet-vehicle-image {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

.fleet-options .fleet-vehicle-onhover .fleet-vehicle-image {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    overflow: auto;
}

.fleet-options .fleet-label {
    text-align: center;
    width: 100%;
    text-size-adjust: 18px;
    font-weight: 400;
}

.fleet-option-display {
    width: 100%;
    height: 500px;
    background: linear-gradient(to Bottom, #E8E8E8, #FFFFFF);
}

.fleet-option-display .fleet-option-display-image {
    float: left;
    width: 60%;
    height: 100%;
    padding-left: 5%;
    color: #333333;
}

.fleet-option-display .fleet-option-display-info {
    float: left;
    width: 40%;
    height: 100%;
    padding-top: 100px;
}

.fleet-option-display .fleet-option-display-info h4 {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 0px;
}

.fleet-option-display .fleet-option-display-info .fleet-option-display-info-subheading {
    width: 50%;
    font-size: 18px;
    font-weight: 300;
}

.fleet-option-display .fleet-option-display-info .fleet-option-display-info-content {
    width: 50%;
    font-size: 16px;
    font-weight: 300;
}

.download-div {
    position: relative;
    height: 330px;
    width: 94%;
    left: 3%;
    right: 3%;
    background: #FDFDFD;
}

.download-div .download-body {
    float: left;
    width: 50%;
}

.download-div .download-body .download-heading {
    margin-top: 75px;
}

.download-div .download-body .download-heading h2 {
    font-size: 36px;
    font-weight: 600;
    color: black;
}

.download-div .download-body .download-heading div {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}

.download-div .download-body .download-links {
    margin-top: 70px;
}

.download-div .download-body .download-links a {
    float: left;
    width: 25%;
    height: 45px;
    margin-right: 3.33%;
}

.download-div .download-body .download-links a img {
    width: 90%;
    height: 100%;
}

.download-image-display {
    float: left;
    width: 40%;
    margin-left: 10%;
}

.download-image-display .download-image {
    width: 80%;
}

.services-provided {
    position: relative;
    width: 94%;
    left: 3%;
    right: 3%;
}

.services-provided .service {
    display: inline-block;
    width: 28%;
    margin-right: 5.33%;
    overflow: auto;
}

.services-provided .service .service-image {
    float: left;
    width: 20%;
    margin-right: 2%;
}

.services-provided .service .service-image img {
    width: 70%;
    height: 50%;
}

.services-provided .service .service-body {
    float: left;
    width: 65%;
}

hr.no-margin {
    margin-top: 0px;
}

.gone {
    display: none !important;
}